.wrapper {
  max-width: 600px;
  max-height: 600px;
}

.content {
  max-height: 0;
  background-color: bisque;
  color: brown;
  transition: all 0.3s cubic-bezier(0, 1, 0, 1);
  overflow: hidden;
}

.content.show {
  max-height: 100vh;
  transition: all 0.3s cubic-bezier(1, 0, 1, 0);
}

.heading {
  border: 2px solid red;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
